//==== config ====
@import '_config';
//==== /config ====

//==== header ====
@import '_header';
//==== /header ====

//==== footer ====
@import '_footer';
//==== /footer ====

//==== sale-auto ====
.section {
    &__sale-auto {
        background: url(../img/bg-dark.png) no-repeat center;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 71px;
        position: relative;  
        z-index: 4;     
    }

    &__sale-inner {
        position: relative;
        z-index: 99;
    }
}
.tittle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 59px;
    max-width: 367px;
    padding-top: 40px;
}
.form-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    max-width: 262px;
}
.sale-list {
    display: flex;
    align-items: center;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EDF1F2;
    border-radius: 8px;
    width: 100%;
    padding-left: 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
    margin-bottom: 16px;
}
.sale-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: #00AF68;
    border-radius: 8px;
    width: 100%;
    padding-left: 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
    margin-bottom: 16px;
    color: white;
}

.bg-dark{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 5;
}
//==== /sale-auto ====

//==== slider ====
.section {
    &__slider {
        background: #343332;
        padding: 45px 0px 25px 0px;
    }
}
.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 50%;
}
.slider-col:first-child{
    border-right: 1px solid #C4C4C4;;
}
.slider-col:nth-child(2){
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
}
.slider-img {
    width: 131px;
    height: 131px;
    margin-bottom: 34px;
}
.slider-text {
    max-width: 315px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.slider {
    &__list-item {
        margin-bottom: 26px;
        max-width: 400px;
    }
}
.slider-description {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-left: 20px;
}

.swipper-wrapper{
    position: relative;
}

.swiper-pagination-bullet-active{
    background: #00AF68;
}

.swiper-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 99px;
    padding: 9px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 42px;
    cursor: pointer;
    img{
        max-height: 24px;
        max-width: 24px;
    }
}
.swiper-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    padding: 9px;
    z-index: 99;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 42px;
    cursor: pointer;
    img{
        max-height: 24px;
        max-width: 24px;
    }
}

//==== /slider ====

//==== auction ====
.section {
    &__auction {
        padding: 48px 0;
        background: url(../img/bg-dark_auto.png) no-repeat center;
        background-size: cover;
        position: relative;
    }

    &__block-auction {
        position: relative;
        z-index: 99;
    }
}
.tittle-auctuion {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 64px;
}
.step {
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        margin: 0 60px;
    }

    &__text {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    &__btn {
        max-width: 500px;
        margin: 0 auto;       
    }
}
.step-img {
    margin-bottom: 18px;
    max-height: 64px;
    max-width: 64px;
}
//==== /auction ====

//==== map ====
.block {
    &__map {
        /* padding: 68px 0; */
        /* background: url(../img/map.png) no-repeat center; */
        /* background-size: cover; */
        position: relative;
        z-index: 4;
    }
}
.section {
    &__map-inner {
        display: flex;
        justify-content: flex-end;
    }
}
.form {
    &__map {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        padding: 24px;
        max-width: 262px;
        position: absolute;
        top: 0;
        left: 70%;
        width: 100%;
        right: 0;
        bottom: 0;
        label{
            width: 100%;
            position: relative;
            margin-bottom: 16px;
        }
    }

    &__map-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid#EDF1F2;
    }

    &__map-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #282828;
        opacity: 0.8;
        margin-bottom: 12px;
    }
}
.choice {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
    margin-bottom: 16px;
    text-align: left;
    width: 100%;
}
.input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 14px 49px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
    opacity: 0.5;
    border: 1px solid #EDF1F2;
    box-sizing: border-box;
    border-radius: 8px;
}
.search {
    position: absolute;
    top: 14px;
    left: 12px;
    width: 100%;
    max-width: 24px;
    max-height: 24px;
}
.back {
    &__form {
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
    }
    &__text {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #282828;
    }
}
//==== /map ====