.price{
  padding: 52px 0 90px 0;
}

.price__card{
  display: flex;
  justify-content: center;
}

.price__wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(197, 197, 197, 0.61);
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 28px 0 48px 0;
  max-width: 262px;
  margin-bottom: 20px;
}

.price__img{
  max-width: 100%;
  margin-bottom: 25px;
}

.btn__price{
  width: 100%;
  max-width: 210px !important;
  @media all and (max-width: 900px) {
    max-width: 160px !important;
  }
}

.tittle__price{
  margin-bottom: 44px;
}

//Вторая страничка со стилями

.price__wrap-secondary{
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  @media all and (max-width: 850px) {
    flex-direction: column;
    max-width: 300px;
  }
}


.price__secondary-tho{
  margin: 0;
}

.price__secondary-column{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  @media all and (max-width: 1050px) {
    margin: 0 25px;
  }
}

.card__tittle-secondary{
  justify-content: flex-start !important;
}

.btn__secondary{
  margin-top: 25px !important;
}

.card__description-secondary{
  max-width: 543px;
  text-align: start !important;
}