@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header-top__active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.header-top__active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
 /*  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px); */
}

.header-top__active .menu__link {
  color: #2B2D33;
}

@media all and (max-width: 1150px) {
  .header-top__active .menu__link {
    color: #fff;
  }
}

.header-top__active .call__number span {
  color: #2B2D33;
}

@media all and (max-width: 1150px) {
  .header-top__active .call__number span {
    color: #fff;
  }
}

.header-top__active .header-top__logo {
  display: none;
}

.header-top__active .header-top__logo--active {
  display: block;
}

.header-top__logo--active {
  display: none;
}

.header-top__inner {
  padding: 20px 0;
}

.header-main__inner {
  padding-top: 110px;
}

.menu__btn span {
  background: #2B2D33;
}

.menu__btn::after {
  content: '';
  background: #2B2D33;
}

.menu__btn::before {
  content: '';
  background: #2B2D33;
}

.menu__btn.active::before, .menu__btn.active::after {
  background: #2B2D33;
}

main {
  padding-top: 120px;
}

.founder {
  padding-top: 35px;
  padding-bottom: 74px;
  background-color: #fff;
}

.tittle__command {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 413px;
}

.founder-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.img-person {
  max-width: 100%;
  width: 100%;
}

.img-person__main {
  max-height: 413px;
  max-width: 413px;
}

.bio__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-left: 25px;
}

.star {
  width: 13px;
  height: 13px;
  margin-top: 4px;
}

.person__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.name__person {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.position__person {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.description-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.first-text {
  position: relative;
  margin-bottom: 114px;
}

.first-text .left-11 {
  position: absolute;
  top: -35px;
  left: -35px;
  width: 100%;
  max-width: 35px;
  max-height: 35px;
}

.first-text .left-22 {
  position: absolute;
  bottom: -35px;
  right: -35px;
  width: 100%;
  max-width: 35px;
  max-height: 35px;
}

.last-text {
  position: relative;
}

.last-text::after {
  content: '';
  position: absolute;
  height: 16px;
  background: url(../images/bgb.png) no-repeat center;
  background-size: cover;
  bottom: -26px;
  left: 0;
  width: 100%;
}

.work {
  background: #EDEBE9;
  padding-top: 45px;
  position: relative;
}

.work::before {
  content: '';
  position: absolute;
  top: 18%;
  left: -7%;
  width: 100%;
  height: 488px;
  width: 896px;
  background: url(../images/romb.svg) no-repeat center;
  background-size: cover;
}

@media all and (max-width: 900px) {
  .work::before {
    display: none;
  }
}

.work-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 27px;
}

.row-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-work {
  position: relative;
  z-index: 999;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 20px);
          flex: 0 0 calc(33.333% - 20px);
}

.col-card {
  margin-bottom: 70px;
}

.position__person {
  margin-bottom: 10px;
}

.see-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.see-project span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.see-project img {
  margin-left: 10px;
}

.img-block {
  position: relative;
  cursor: pointer;
}

.img-block:hover .block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7);
  /* opacity: 0.7; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 24px 48px;
}

.block__info span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #fff;
}

.block__info-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 900px) {
  .col-work {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

@media all and (max-width: 600px) {
  .col-work {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 20px);
            flex: 0 0 calc(100% - 20px);
  }
}

@media all and (max-width: 747px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 474px) {
  .block__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 747px) {
  .first-text {
    margin-top: 20px;
  }
}

@media all and (max-width: 747px) {
  .left-11, .left-22 {
    display: none;
  }
}

.main {
  padding-top: 150px;
}

.design-tittle {
  margin-bottom: 28px;
}

.design-work {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.img-design {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.design-project {
  padding: 57px 0px 75px 0px;
  background: #EDEBE9;
}

.design-project__tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 27px;
}

.row-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-design__bg {
  position: relative;
}

.row-bg1 {
  position: absolute;
  top: -506px;
  left: -350px;
  width: 100%;
  height: 585px;
  z-index: 99;
}

.row-bg2 {
  position: absolute;
  top: 400px;
  left: -150px;
  width: 100%;
  height: 585px;
  z-index: 99;
}

.row-bg3 {
  position: absolute;
  top: 70px;
  left: 170px;
  width: 100%;
  height: 585px;
  z-index: 99;
}

.slider-design {
  margin-bottom: 80px;
}

@media all and (max-width: 1150px) {
  .slider-design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row-list {
  margin-bottom: 37px;
}

@media all and (max-width: 950px) {
  .row-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.design-list {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 220px;
  border-bottom: 1px solid rgba(43, 45, 51, 0.15);
  cursor: pointer;
  position: relative;
  margin-left: 100px;
}

@media all and (max-width: 950px) {
  .design-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 20px 0px;
    max-width: 300px;
  }
}

.first__design-list {
  margin: 0;
}

@media all and (max-width: 950px) {
  .first__design-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 20px 0px;
    max-width: 300px;
  }
}

.design-list__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.design-list__img {
  margin-left: 42px;
}

.left-cnt {
  max-width: 629px;
  position: relative;
  z-index: 999;
}

@media all and (max-width: 700px) {
  .left-cnt {
    max-width: 429px;
  }
}

@media all and (max-width: 480px) {
  .left-cnt {
    max-width: 280px;
  }
}

.slick-track {
  margin: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 474px) {
  .slick-track {
    margin: 0;
  }
}

/* .second-btn{
      position: relative;
      &::before{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 30px;
         height: 30px;
         background: url(../images/play.png) no-repeat center;
         background-size: cover;
         z-index: 999;
      }
} */
/* .des-2{
   position: relative;
   z-index: 99;
   &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      background: url(../images/play.png) no-repeat center;
      background-size: cover;
      z-index: 999;
   }
}
 */
.design-list__item {
  width: 100%;
  min-width: 220px;
  background: #fff;
  padding: 21px 0px 21px 0px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}

@media all and (max-width: 1150px) {
  .testimonials__inner {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 880px) {
  .testimonials__btns {
    display: none;
  }
}

.testimonials-btns__img img {
  width: 220px !important;
  left: 0 !important;
}

.testimonials-slider__arr {
  top: 422px;
}

@media all and (max-width: 700px) {
  .testimonials-slider__arr {
    top: 282px;
  }
}

@media all and (max-width: 480px) {
  .testimonials-slider__arr {
    top: 182px;
  }
}

.testimonials-slider__prev {
  left: 13px;
}

@media all and (max-width: 474px) {
  .testimonials-slider__prev {
    left: 0;
  }
}

.testimonials-btns__item-inner {
  position: relative;
  max-width: 220px !important;
  z-index: 999;
  /*    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      background: url(../images/play.png) no-repeat center;
      background-size: cover;
      z-index: 999;
   } */
}

.design-list:hover .design-list__item {
  display: block;
}

.list-down__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
  margin-bottom: 15px;
}

.list-down__item:last-child {
  margin: 0;
}

.checkbox-item {
  display: none;
}

.label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fake {
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
}

.fake::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: url(../images/check.svg) no-repeat center;
  background-size: cover;
  opacity: 0;
}

.checkbox-item:checked + .fake:before {
  opacity: 1;
}

.chebox-text {
  margin-left: 10px;
  max-width: 500px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.first-design__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 60px);
          flex: 0 0 calc(75% - 60px);
}

.col-design {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 60px);
          flex: 0 0 calc(25% - 60px);
}

.design-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tittle-descr {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 7px;
}

.name-person {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 32px;
}

.list-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-design {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 7px;
  list-style-image: url(../images/dot.svg);
}

.item-design::marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-design:last-child {
  margin-bottom: 36px;
}

.design-descr {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 7px;
}

.show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  background: url(../images/bg-btn.svg) no-repeat center;
  background-size: cover;
  width: 100%;
  max-width: 185px;
  height: 37px;
  margin: 50px auto 0 auto;
  position: relative;
  z-index: 999;
}

.tittle-company {
  padding-top: 35px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
}

.about-company {
  background-image: url(../images/comand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 999;
}

.ab-bg {
  position: absolute;
  bottom: -155px;
  left: 555px;
  width: 100%;
  height: 565px;
  z-index: 99;
}

@media all and (max-width: 1000px) {
  .ab-bg {
    display: none;
  }
}

.ab-bg1 {
  position: absolute;
  bottom: -80px;
  left: -634px;
  width: 100%;
  height: 565px;
  z-index: 99;
}

@media all and (max-width: 1000px) {
  .ab-bg1 {
    display: none;
  }
}

.container-command {
  height: 100%;
}

.about-company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  position: relative;
  z-index: 999;
}

.block__company {
  width: 100%;
}

.tittle-block {
  margin-bottom: 36px;
}

@media all and (max-width: 520px) {
  .tittle-block {
    text-align: center;
  }
}

.list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-about {
  max-width: 22px;
  max-height: 22px;
  margin-bottom: 7px;
}

.name-item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.descr-item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.main {
  padding-top: 110px;
  overflow: hidden;
}

.philosophy-company {
  background: #EDEBE9;
  padding: 69px 0px 103px 0px;
}

.philosophy-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin-bottom: 92px;
}

@media all and (max-width: 600px) {
  .philosophy-tittle {
    text-align: center;
    margin-bottom: 25px;
  }
}

.list-philosophy__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-philosophy__descr {
  max-width: 413px;
  margin: 20px 45px;
}

.item-ps {
  position: absolute;
  top: -35px;
  left: 120px;
  width: 100%;
  max-width: 35px;
  max-height: 35px;
  height: 35px;
}

@media all and (max-width: 1110px) {
  .item-ps {
    display: none;
  }
}

.item-ps2 {
  position: absolute;
  bottom: -35px;
  right: 120px;
  width: 100%;
  max-width: 35px;
  max-height: 35px;
  height: 35px;
}

@media all and (max-width: 1110px) {
  .item-ps2 {
    display: none;
  }
}

.parters {
  background: #fff;
  padding: 79px 0px 90px 0px;
  position: relative;
}

.prt-bg {
  position: absolute;
  top: 250px;
  right: 1000px;
  width: 100%;
  height: 585px;
  z-index: 99;
}

@media all and (max-width: 1000px) {
  .prt-bg {
    display: none;
  }
}

.prt-bg1 {
  position: absolute;
  top: 0;
  left: 400px;
  width: 100%;
  height: 585px;
  z-index: 99;
}

@media all and (max-width: 1000px) {
  .prt-bg1 {
    display: none;
  }
}

.partners-wrap {
  position: relative;
  z-index: 999;
}

.partners-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
  color: #2B2D33;
}

@media all and (max-width: 720px) {
  .partners-tittle {
    text-align: center;
  }
}

.main-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 92px;
}

@media all and (max-width: 720px) {
  .main-partner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-partner img {
    max-width: 250px;
  }
}

.main-partner__tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
  color: #2B2D33;
}

@media all and (max-width: 720px) {
  .main-partner__tittle {
    text-align: center;
  }
}

.block-main__partner {
  margin-left: 79px;
}

@media all and (max-width: 720px) {
  .block-main__partner {
    margin: 0;
  }
}

.our-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.statistics {
  background: #EDEBE9;
  padding: 62px 0px 150px 0px;
  position: relative;
}

.st-bg {
  position: absolute;
  top: -150px;
  left: 150px;
  width: 100%;
}

@media all and (max-width: 1000px) {
  .st-bg {
    display: none;
  }
}

.statistics-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
  color: #2B2D33;
}

.statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics-item{
  position: relative;
  z-index: 999;
}

.statistics-links{
  display: flex;
  align-items: center;
}

@media all and (max-width: 550px) {
  .statistics-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.statistics-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.block-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number-statistics {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #9A9AEF;
}

.name-statistics {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-left: 10px;
  max-width: 180px;
}

.arr-stat {
  margin-left: 10px;
}

.contact {
  padding-top: 35px;
  padding-bottom: 68px;
}

.contact-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

@media all and (max-width: 450px) {
  .contact-tittle {
    margin: 0;
  }
}

.contact-map {
  position: relative;
  height: 512px;
  width: 100%;
}

@media all and (max-width: 450px) {
  .contact-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ifram {
  width: 100%;
}

@media all and (max-width: 450px) {
  .ifram {
    display: none;
  }
}

.place-card {
  display: none !important;
}

.place-card-large {
  display: none !important;
}

.contact-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 66px;
  left: 143px;
  width: 100%;
  /* max-height: 350px; */
  max-width: 350px;
  background: #fff;
  padding: 40px;
}

@media all and (max-width: 560px) {
  .contact-form {
    left: 77px;
  }
}

@media all and (max-width: 450px) {
  .contact-form {
    left: 0;
    padding: 0 40px;
  }
}

.adress-main {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 5px;
}

.adress {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 35px;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 27px;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.tel-number {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 5px;
}

.mail-contact {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 5px;
}

.viber-icon {
  margin-left: 10px;
}

.form-block {
  padding-bottom: 89px;
}

.form-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 89px;
}

@media all and (max-width: 450px) {
  .form-tittle {
    margin-bottom: 20px;
    text-align: center;
  }
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 560px) {
  .form-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.inp-form {
  padding: 11px 0px 11px 9px;
  border: 1px solid #7F91D9;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #2B2D33;
  width: 100%;
  max-width: 225px;
  margin: 0 21px 20px 21px;
}

@media all and (max-width: 560px) {
  .inp-form {
    max-width: 403px;
  }
}

.question {
  width: 100%;
  max-width: 403px;
}

.form-btn {
  background: url(../images/bg-btn.svg) no-repeat center;
  background-size: cover;
  margin-left: 120px;
  width: 100%;
  max-width: 185px;
  height: 37px;
}

@media all and (max-width: 560px) {
  .form-btn {
    margin: 0;
  }
}

.shorum {
  margin-bottom: 48px;
}

.shorum-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 19px;
}

.shorum-descr {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.block-img__shorum {
  height: 100vh;
  width: 100%;
  background: url(../images/shorum.png) no-repeat center;
  background-size: cover;
}

.relize-project {
  background: #fff;
  position: relative;
  z-index: 999;
}

.real-bg2 {
  position: absolute;
  top: 172px;
  left: -550px;
  width: 100%;
  height: 485px;
  z-index: 99;
}

.young-home {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.left-relize {
  max-width: 931px;
}

.testimonials-slider__img img {
  max-height: 397px;
}

.design-relize_tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
  padding-left: 15px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-block__second {
  margin-left: 133px;
}

.info-block__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 10px;
}

.features-project {
  padding: 60px 0px 110px 0px;
  background: #EDEBE9;
  position: relative;
  z-index: 999;
}

.feat-bg {
  position: absolute;
  top: -484px;
  left: 450px;
  width: 100%;
  height: 485px;
  z-index: 999;
}

.feat-bg2 {
  position: absolute;
  top: 4px;
  left: 450px;
  width: 100%;
  height: 485px;
  z-index: 999;
}


.features-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}

@media all and (max-width: 700px) {
  .features-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 11px);
          flex: 0 0 calc(50% - 11px);
}

.features-col__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tittle-col__features {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.description-col__features {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
  max-width: 628px;
  min-height: 95px;
}

.block-img__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1290px) {
  .block-img__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-img__features img {
    max-height: 329px;
    margin-bottom: 20px;
  }
}

.img-features {
  max-width: 100%;
}

.review {
  padding: 70px 0px 94px 0px;
  background: #fff;
  position: relative;
  z-index: 999;
}

.review-bg2 {
  position: absolute;
  top: 0;
  left: 350px;
  width: 100%;
  height: 485px;
  z-index: 99;
}

.review-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.row-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 700px) {
  .row-review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row-review img {
    margin: 0px auto 20px auto;
  }
}

.review-img {
  width: 100%;
  height: 100%;
  max-width: 305px;
  max-height: 211px;
}

.block-review__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 79px;
  max-width: 413px;
}

@media all and (max-width: 700px) {
  .block-review__text {
    margin: 0;
  }
  .block-review__text span {
    text-align: center;
  }
}

.review__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 10px;
}

.name__review {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2B2D33;
}

.form-review {
  padding: 64px 0px 170px 0px;
  background: #EDEBE9;
  position: relative;
  z-index: 999;
}

.review-bg3 {
  position: absolute;
  top: 310px;
  left: 150px;
  width: 100%;
  height: 485px;
  z-index: 99;
}

@media all and (max-width: 500px) {
  .form-review {
    padding-bottom: 20px;
  }
}

.tittle-form__review {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 75px;
}

.first-inp {
  margin-left: 0;
}

@media all and (max-width: 600px) {
  .first-inp {
    margin-left: 20px;
  }
}

.rel-project {
  background: #fff;
  padding: 35px 0px 150px 0px;
  position: relative;
  z-index: 999;
}

.real-bg {
  position: absolute;
  top: 1150px;
  left: -450px;
  width: 100%;
  height: 485px;
  z-index: 99;
}

.rel-tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.row-card__prj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.col-card__prj {
  position: relative;
  z-index: 999;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

.card__prj-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 6px 34px 24px;
  min-width: 305px;
  min-height: 402px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}


.card-prj {
  width: 258px;
  height: 195px;
  max-width: 100%;
  margin-bottom: 13px;
}

.line-top {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 2px;
  background: #7F91D9;
  animation: hovAnim 1s linear infinite;
}
.line-right {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 10%;
  background: #7F91D9;
  animation: hovAnimh 1s linear infinite;
}
.line-left {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 10%;
  background: #7F91D9;
  animation: hovAnimh 1s linear infinite;
}
.line-bottom {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 2px;
  background: #7F91D9;
  animation: hovAnim 1s linear infinite;
}


@keyframes hovAnimh {
  10% {height: 10%;}
  20% {height: 20%;}
  30% {height: 30%;}
  40% {height: 40%;}
  50% {height: 50%;}
  60% {height: 60%;}
  70% {height: 70%;}
  80% {height: 80%;}
  90% {height: 90%;}
  100% {height: 100%;}
}

@keyframes hovAnim {
  10% {width: 10%;}
  20% {width: 20%;}
  30% {width: 30%;}
  40% {width: 40%;}
  50% {width: 50%;}
  60% {width: 60%;}
  70% {width: 70%;}
  80% {width: 80%;}
  90% {width: 90%;}
  100% {width: 100%;}
}

.card__prj-wrap::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: url(../images/bg-card.svg) no-repeat center;
  background-size: cover;
}




.card-prj__tittle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 25px;
}

.prj-itemt {
  max-width: 200px;
}

.prj-list {
  margin: 0;
}

.slider-item__wrap {
 /*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; */
  min-height: 443px;
}

.slider-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2B2D33;
  margin-bottom: 28px;
}

.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 58px;
}

.slider-item__list {
  margin-left: 90px;
}

.first-slider__item {
  margin: 0;
}

.label-check {
  cursor: pointer;
}

.sldier__item img {
  margin-bottom: 18px;
}

.helper-test__arrs {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.helper-test__arrs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helper__info-tittle {
  margin-bottom: 75px;
}

.helper-test__arrs-item-next{
  position: relative;
  z-index: 999;
}
