@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo img {
  height: 100%;
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

.header-nav {
  display: flex;
}
@media all and (max-width: 550px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}
.header-nav__list li {
  margin: 0 15px;
}
.header-nav__list li a {
  color: #e8e8e8;
  font-size: 18px;
}

.header-burger {
  display: none;
}
@media all and (max-width: 550px) {
  .header-burger {
    display: flex;
    width: 40px;
    height: 40px;
  }
}

.burger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger-wrapper span {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #e8e8e8;
}
.burger-wrapper span:after {
  content: " ";
  position: absolute;
  transform: translateY(5px);
  width: 30px;
  height: 2px;
  background-color: #e8e8e8;
  transition-duration: 0.3s;
}
.burger-wrapper span:before {
  content: " ";
  position: absolute;
  transform: translateY(-5px);
  width: 30px;
  height: 2px;
  background-color: #e8e8e8;
  transition-duration: 0.3s;
}

.burger-active span {
  height: 0;
}
.burger-active span:after {
  transform: rotate(35deg);
  transition-duration: 0.3s;
}
.burger-active span:before {
  transform: rotate(-35deg);
  transition-duration: 0.3s;
}

main {
  overflow: hidden;
  scroll-behavior: smooth;
}

.main-wrapper {
  display: flex;
}

.home {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  background: grey;
}

.home-wrapper {
  height: 100vh;
}
.home-wrapper h2 {
  font-size: 48px;
  color: #e8e8e8;
  font-weight: 700;
  padding: 150px 0 0 0;
  margin-bottom: 35px;
  text-align: end;
}
.home-wrapper p {
  font-size: 36px;
  color: #e8e8e8;
  text-align: end;
}

.work {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  background: grey;
}

.skills {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  background: grey;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.skills-person {
  display: flex;
  padding-top: 90px;
  margin-bottom: 50px;
}

.person {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
}
.person img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #e8e8e8;
  margin-bottom: 15px;
}
.person span {
  font-size: 15px;
  color: #e8e8e8;
  margin-bottom: 8px;
}

.person-description {
  flex: 1 1 80%;
}
.person-description span {
  font-size: 24px;
  color: #e8e8e8;
  text-align: center;
}

.skills-table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1 1 50%;
}

.skills-table__list {
  display: flex;
  flex-direction: column;
}
.skills-table__list li {
  position: relative;
  color: #e8e8e8;
  font-size: 24px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.skills-table__list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  height: 24px;
  width: 250px;
  background: red;
}
.skills-table__list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  height: 24px;
  width: 200px;
  background: yellow;
}

.contact {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  background: grey;
}

.contact-wrapper {
  display: flex;
  height: 100vh;
}

.contact-info {
  flex: 1 1 50%;
  background: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
}
.contact-form h2 {
  text-align: center;
  margin-bottom: 50px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
}
.contact-form form label {
  width: 250px;
  height: 40px;
  margin: 15px 0;
}
.contact-form form label input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
}
.contact-form form label textarea {
  width: 250px;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  resize: none;
}
.contact-form form label:nth-child(3n) {
  height: 80px;
}
.contact-form form button {
  height: 30px;
  width: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid #e8e8e8;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.icons-social__list {
  display: flex;
}

.icons-social__item {
  margin: 0 15px;
}

.person-contact {
  display: flex;
}
.person-contact a {
  margin: 0 15px;
  color: #e8e8e8;
}

/*# sourceMappingURL=main.css.map */
