@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}

.tittle {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #000000;
}
@media all and (max-width: 580px) {
  .tittle {
    font-size: 20px;
  }
}

.tittle__h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.035em;
  color: #000000;
  margin: 0;
  padding: 0;
}
.tittle__h3:hover, .tittle__h3:focus, .tittle__h3:active {
  text-decoration: none;
  color: #000000;
}
@media all and (max-width: 580px) {
  .tittle__h3 {
    font-size: 16px;
  }
}

.btn__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31C249;
  border-radius: 10px;
  width: 417px;
  height: 62px;
  color: white;
}
.btn__main:active, .btn__main:focus {
  outline: none;
  border: none;
}
.btn__main:hover {
  color: white;
}
@media all and (max-width: 580px) {
  .btn__main {
    width: 250px;
    margin-bottom: 25px;
  }
}

.btn__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 44px;
  background: #E5A603;
  border-radius: 10px;
  color: white;
}
.btn__slider:hover {
  color: white;
}
@media all and (max-width: 580px) {
  .btn__slider {
    width: 250px;
  }
}

.active {
  background: #E6A603 !important;
  color: white !important;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
@media all and (max-width: 580px) {
  .description {
    font-size: 15px;
  }
}

.logo, .calc__col, .header__icons, .header__phone, .header__btn {
  margin-bottom: 15px;
}

.header {
  width: 100%;
  background: url("../img/bg.webp") no-repeat center;
  background-size: cover;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 95px;
  padding-top: 32px;
  margin-bottom: 115px;
}
@media all and (max-width: 450px) {
  .header__top {
    margin-bottom: 20px;
  }
}

.logo {
  flex: 0 0 25%;
}

.logo__wrap {
  display: flex;
  flex-direction: column;
}

.logo__span {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 43px;
  text-transform: capitalize;
  color: #D5D91C;
}
@media all and (max-width: 670px) {
  .logo__span {
    font-size: 24px;
  }
}

.logo__span-first {
  color: #464646;
  margin-left: 8px;
}

.calc__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__span-description {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #E3E3E3;
}
@media all and (max-width: 670px) {
  .logo__span-description {
    font-size: 13px;
  }
}

.calc__img {
  width: 57px;
  height: 57px;
}

.calc__span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C7C7C7;
}

.icon__img {
  width: 30px;
  height: 30px;
}

.row__icons {
  margin-bottom: 5px;
}

.phone__block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media all and (max-width: 1015px) {
  .phone__block {
    display: none;
  }
}

.phone__link {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  color: #FFFFFF;
}
.phone__link:hover {
  color: white;
}

.phone__description {
  text-align: end;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #DEDEDE;
}

.header__btn-wrap {
  color: white;
}
@media all and (max-width: 800px) {
  .header__btn-wrap {
    width: 160px;
  }
}

.header__main {
  padding-bottom: 225px;
}

.header__main-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__main-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media all and (max-width: 550px) {
  .header__main-tittle {
    font-size: 25px;
  }
}

.header__main-description {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: capitalize;
  color: #C8C8C8;
  margin-bottom: 33px;
}
@media all and (max-width: 550px) {
  .header__main-description {
    font-size: 18px;
  }
}

.header__main-calc {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 63px;
}
@media all and (max-width: 550px) {
  .header__main-calc {
    font-size: 18px;
  }
}

.header__main-btn {
  font-size: 25px;
  margin-bottom: 50px;
}
@media all and (max-width: 550px) {
  .header__main-btn {
    font-size: 18px;
    width: 250px;
  }
}

.sidebar__wrap {
  width: 100%;
  min-height: 409px;
  background: rgba(124, 124, 124, 0.9);
  border-radius: 10px;
  padding: 80px 20px;
}

.sidebar__info {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}
.sidebar__info:last-child {
  margin: 0;
}

.sidebar__img {
  width: 68px;
  height: 68px;
}

.sidebar__span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 9px;
}

.tabs__block {
  padding: 100px 0 80px 0;
  background: white;
}

.tabs__block__col {
  display: flex;
  justify-content: center;
}

.tabs__tittle {
  max-width: 879px;
  margin: 0;
}

.tab__item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.tab__item-wrap img {
  max-width: 100%;
}

.btn__tab {
  padding: 25px 15px;
  color: white;
}
.btn__tab:hover {
  color: #838383;
}

.tabs__container {
  display: flex;
  background: #E9E9E9;
  border-radius: 10px;
  margin-bottom: 110px;
  margin-top: 79px;
}
@media all and (max-width: 870px) {
  .tabs__container {
    flex-direction: column;
  }
}

.tab {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
  height: 97px;
  width: 100%;
  background: #E9E9E9;
  color: #838383;
  cursor: pointer;
}

.tab__list-main {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media all and (max-width: 580px) {
  .tab__list-main {
    width: 100%;
  }
}

.tab__span {
  margin-left: 15px;
  text-align: start;
}
@media all and (max-width: 580px) {
  .tab__span {
    width: 100%;
  }
}

.slider__col {
  min-width: 0;
}

.slider__block {
  padding-bottom: 90px;
}
@media all and (max-width: 600px) {
  .slider__block {
    padding-bottom: 20px;
  }
}

.tittle__slider {
  margin-bottom: 30px;
}

.price {
  display: flex;
  align-items: center;
}

.tittle__price {
  margin-left: 6px;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  min-width: 0;
}

.slider__img {
  max-width: 100%;
}

.slider__item-description {
  margin-bottom: 16px;
  max-width: 400px;
}
@media all and (max-width: 600px) {
  .slider__item-description {
    width: 70%;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #000000;
}
@media all and (max-width: 630px) {
  .swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.work-tittle {
  margin-bottom: 87px;
}
@media all and (max-width: 600px) {
  .work-tittle {
    margin-bottom: 20px;
  }
}

.work__img {
  max-width: 100%;
}

.btn__work {
  display: flex;
  justify-content: center;
}

.prev, .next, .cnt {
  display: flex;
  width: 91px;
  height: 12px;
  background: #C4C4C4;
  cursor: pointer;
  margin: 90px 0;
}

.cnt {
  background: #E72929;
  margin: 90px 55px;
}

.services__wrap-card {
  display: flex;
  margin-bottom: 111px;
}
@media all and (max-width: 500px) {
  .services__wrap-card {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.tittle-mg {
  margin-bottom: 90px;
}

.services__img {
  height: 159px;
  max-width: 100%;
}
@media all and (max-width: 500px) {
  .services__img {
    width: 159px;
    max-width: 159px;
    margin-bottom: 25px;
  }
}

.services__info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}
@media all and (max-width: 500px) {
  .services__info {
    margin: 0;
  }
}

.services__description {
  text-align: start;
}

.reviews {
  padding-bottom: 160px;
}
@media all and (max-width: 500px) {
  .reviews {
    padding-bottom: 40px;
  }
}

.reviews__tittle {
  margin-bottom: 47px;
}

.reviews__row {
  display: flex;
  justify-content: center;
}

.reviews__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
}

.reviews__descriptions {
  font-size: 17px;
  margin-bottom: 22px;
}

.reviews__stars {
  margin-bottom: 11px;
}

.reviews__name {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.reviews__result {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.reviews__link {
  display: flex;
  justify-content: center;
}

.reviews__btn {
  height: 38px;
}

.acc-wrap {
  margin: 0 auto;
  width: 760px;
}

.question-container {
  position: relative;
}

.question__row, .question__table {
  position: relative;
  z-index: 999;
}

.question-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #C4C4C4;
  filter: blur(150px);
}

.question__table {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.card-header, .card-body {
  background-color: white;
  border: none;
  padding: 15px;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: normal;
  text-align: left;
}

@media all and (max-width: 760px) {
  .btn-link {
    font-size: 18px;
  }
}

.block__description {
  display: flex;
  text-align: start;
  padding: 0 15px;
  margin-bottom: 15px;
}

.block__tittle {
  margin: 0;
}

.block__plus {
  height: 31px;
  width: 31px;
  transition-duration: 0.3s;
  cursor: pointer;
  transform: rotate(0deg);
  margin-left: 15px;
}

.plus__wrap {
  transition-duration: 0.3s;
}

.plus-active {
  display: flex;
  transform: rotate(45deg);
  transition-duration: 0.3s;
}

.plus__wrap {
  display: flex;
  position: relative;
  height: 3px;
  width: 31px;
  background-color: black;
  top: 50%;
  left: 0;
}
.plus__wrap:after {
  content: "";
  display: flex;
  position: absolute;
  height: 3px;
  width: 31px;
  background-color: black;
  left: 0;
  transform: rotate(90deg);
}

.form {
  background: url("../img/bg__form.webp") no-repeat center;
  background-size: cover;
  padding: 67px 0;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle__form {
  color: white;
  margin-bottom: 19px;
}

.description__form {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 38px;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  margin-bottom: 38px;
}

.form__text {
  width: 700px;
  height: 130px;
  resize: none;
  padding: 26px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #8A8888;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.form__text:focus::placeholder {
  color: transparent;
}
@media all and (max-width: 750px) {
  .form__text {
    width: 450px;
  }
}
@media all and (max-width: 750px) and (max-width: 550px) {
  .form__text {
    width: 300px;
  }
}

.form__phone {
  width: 700px;
  height: 60px;
  padding: 20px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #8A8888;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.form__phone:focus::placeholder {
  color: transparent;
}
@media all and (max-width: 750px) {
  .form__phone {
    width: 450px;
  }
}
@media all and (max-width: 550px) {
  .form__phone {
    width: 300px;
  }
}

footer {
  background: #797979;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 105px;
  width: 100%;
}

.logo__footer {
  max-width: 320px;
}

/*# sourceMappingURL=main.css.map */
