*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
}

body{
    background-color: #34393d;
}

.politic-block{
    background-color: #34393d;
    padding: 0 25px;
}

.polit{
    background: white;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-polit{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-center{
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0;
}


.mfp-close{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 1;
    width: 100%;
    border: none;
    border-radius: 0;
    position: fixed;
    background-color: #34393d;
    height: 60px;
    font-size: 58px;
    cursor: pointer;
    text-decoration: none;
}

.mfp-close:focus{
    outline: none;
    border: 0;
}