@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: section__block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-style {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #F0F0F0;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 27px;
  background: #00AF68;
  border-radius: 8px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #343332;
  border-bottom: 1px solid #000000;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  margin-left: 22px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location img {
  margin-left: 10px;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 44px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme__name {
  color: #00AF68;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14px;
  width: 24px;
  border: 2px solid #00AF68;
  border-radius: 15px;
  margin-left: 10px;
}

.switch__btn {
  height: 8px;
  width: 8px;
  border: 2px solid #00AF68;
  border-radius: 50%;
  margin: 0px 3px 0px 3px;
}

.header__content {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #242424;
}

.header__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__link {
  opacity: 0.65;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 32px;
}

.footer-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 1px;
  background: #F0F0F0;
}

.footer {
  background: #282828;
  padding-bottom: 83px;
  padding-top: 25px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 48px;
}

.footer-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col__wrapper:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mailing {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.subscribe {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer-tel {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
  text-align: right;
}

.time {
  text-align: right;
}

.footer-form {
  max-width: 320px;
}

.footer-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3F3F3F;
  border-radius: 8px;
  width: 100%;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-left: 12px;
  height: 48px;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #00AF68;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.footer__col-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer__item {
  margin-bottom: 14px;
}

.footer__item-tittle {
  margin-bottom: 18px;
}

.footer__link {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__link-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__link-nav {
  width: 100%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer-logo {
  margin: 0;
}

.section__sale-auto {
  background: url(../img/bg-dark.webp) no-repeat center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 71px;
  position: relative;
  z-index: 4;
}

.section__sale-inner {
  position: relative;
  z-index: 99;
}

.tittle {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 59px;
  max-width: 367px;
  padding-top: 40px;
}

.form-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  max-width: 262px;
}

.sale-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #EDF1F2;
  border-radius: 8px;
  width: 100%;
  padding-left: 12px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  margin-bottom: 16px;
}

.sale-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  background: #00AF68;
  border-radius: 8px;
  width: 100%;
  padding-left: 12px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  margin-bottom: 16px;
  color: white;
}

.bg-dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 5;
}

.section__slider {
  background: #343332;
  padding: 45px 0px 25px 0px;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.slider-col:first-child {
  border-right: 1px solid #C4C4C4;
}

.slider-col:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 24px;
}

.slider-img {
  width: 131px;
  height: 131px;
  margin-bottom: 34px;
}

.slider-text {
  max-width: 315px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.slider__list-item {
  margin-bottom: 26px;
  max-width: 400px;
}

.slider-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-left: 20px;
}

.swipper-wrapper {
  position: relative;
}

.swiper-pagination-bullet-active {
  background: #00AF68;
}

.swiper-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 99px;
  padding: 9px;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  max-width: 42px;
  cursor: pointer;
}

.swiper-prev img {
  max-height: 24px;
  max-width: 24px;
}

.swiper-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  padding: 9px;
  z-index: 99;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  max-width: 42px;
  cursor: pointer;
}

.swiper-next img {
  max-height: 24px;
  max-width: 24px;
}

.section__auction {
  padding: 48px 0;
  background: url(../img/bg-dark_auto.webp) no-repeat center;
  background-size: cover;
  position: relative;
}

.section__block-auction {
  position: relative;
  z-index: 99;
}

.tittle-auctuion {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 64px;
}

.step__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.step__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 60px;
}

.step__text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.step__btn {
  max-width: 500px;
  margin: 0 auto;
}

.step-img {
  margin-bottom: 18px;
  max-height: 64px;
  max-width: 64px;
}

.block__map {
  /* padding: 68px 0; */
  /* background: url(../img/map.png) no-repeat center; */
  /* background-size: cover; */
  position: relative;
  z-index: 4;
}

.section__map-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
  max-width: 262px;
  position: absolute;
  top: 0;
  left: 70%;
  width: 100%;
  right: 0;
  bottom: 0;
}

.form__map label {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.form__map-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 16px 0;
  border-top: 1px solid #EDF1F2;
}

.form__map-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
  opacity: 0.8;
  margin-bottom: 12px;
}

.choice {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
}

.input-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 14px 49px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  opacity: 0.5;
  border: 1px solid #EDF1F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.search {
  position: absolute;
  top: 14px;
  left: 12px;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}

.back__form {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

.back__text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}
