/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/


$light: 'Gilroy-Light' , sans-serif;
$bold: 'Gilroy-ExtraBold' , sans-serif;

//Общие стили

*{
  transition-duration: .3s;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.tittle{
  margin-bottom: 45px;
}

.h2-tittle{
  font-family: $light;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #262626;
}

.h3-tittle{
  font-family: $light;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #262626;
}

.description-text{
  font-family: $light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #262626;
}

.btn-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border: 1.5px solid #FC8E20;
  box-sizing: border-box;
  border-radius: 222222px;
  font-family: $light;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #FC8E20;
  &:hover{
    color: #FC8E20;
  }
}

.section-block{
 padding-top: 88px;
}

//header

.burger{
  display: none;
  @media all and (max-width: 886px) {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    cursor: pointer;
  }
}

.burger-wrap{
  display: flex;
  align-items: center;
  span{
    position: relative;
    height: 2px;
    width: 24px;
    background: #262626;
    &:after{
      position: absolute;
      content: '';
      height: 2px;
      width: 24px;
      background: #262626;
      transform: translateY(7px);
    }
    &:before{
      position: absolute;
      content: '';
      height: 2px;
      width: 24px;
      background: #262626;
      transform: translateY(-7px);
    }
  }
}

.header__phone{
  display: none;
  @media all and (max-width: 1045px) {
    display: flex;
  }
}

header{
  position: fixed;
  width: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 999;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background-color: #ffffff;
}

.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__nav{
  display: flex;
  align-items: center;
  @media all and (max-width: 886px) {
    display: flex;
    position: absolute;
    top: 88px;
    background: white;
    left: -100%;
    flex-direction: column;
  }
}

.header__mobile{
  display: none;
  @media all and (max-width: 886px) {
    display: flex;
    width: 100%;
    margin-left: 40px;
    padding: 15px 15px;
  }
}

.nav__active{
  left: 0;
}

.nav__list{
  display: flex;
  align-items: center;
  margin: 0;
  @media all and (max-width: 886px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 45px 32px 15px;
    height: 100%;
    background: white;
    border-top: 0.3px solid #D7D7D7;
  }
}

.nav__item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
  @media all and (max-width: 886px) {
    margin: 10px 25px;
  }
}

.nav__link{
  font-family: $light;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #262626;
  &:hover{
    color: #262626;
  }
  @media all and (max-width: 886px) {
    font-size: 12px;
  }
}

.header__contact{
  display: flex;
  @media all and (max-width: 886px) {
    display: none;
  }
}

.header__contact-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 9px;
  cursor: pointer;
}


.icon-img{
  max-width: 24px;
  max-height: 24px;
}

.contact__phone{
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  @media all and (max-width: 1045px) {
    display: none;
  }
}

.phone{
  font-family: $light;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #262626;
  margin-bottom: 8px;
}

.phone-link{
  font-family: $light;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FC8E20;
}

//First-screen


.first-screen{
  background: url("../img/bg-main.webp") center no-repeat;
  background-size: cover;
  padding: 260px 0 148px 0;
}

.first__content-tittle{
  font-family: $light;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.first__content-description{
  font-family: $light;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
  margin-bottom: 29px;
  max-width: 630px;
}

.first-screen__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 45px;
  background: #FC8E20;
  border-radius: 222222px;
  font-family: $light;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
  &:hover{
    color: white;
  }
}

//services

.services__content{
  margin-bottom: 35px;
}

.services-card{
  padding: 32px 30px;
  background: #FBFBFB;
  border: 0.5px solid #D6D6D6;
  border-radius: 4px;
}

.services__img{
  width: 100%;
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}

.services-tittle{
  text-align: start;
  font-size: 24px;
  margin-bottom: 20px;
}

.services-description{
  margin-bottom: 28px;
}

.services__card{
  margin-bottom: 35px;
}

//about

.line{
  height: 5px;
  width: 60px;
  background: #FC8E20;
  margin-bottom: 14px;
}

.about-img{
  width: 100%;
  max-width: 100%;
  margin-left: -15px;
}

.about__img-wrap{
  @media all and (max-width: 768px){
    display: none;
  }
}


.about__content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  @media all and (max-width: 768px){
    align-items: center;
    padding: 0 15px;
  }
}
.about-tittle{
  text-align: start;
  margin-bottom: 24px;
}

.about-description{
  max-width: 495px;
}

//advantages

.advantages{
  background: rgba(238, 242, 244, 0.53);
}

.advantages__col-card{
  display: flex;
}

.advantages__card{
  background: #FBFBFB;
  border: 0.5px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 21px 21px 42px 28px;
  margin-bottom: 26px;
}

.advantages__card-img{
  margin-bottom: 27px;
}

.card-img__content{
  width: 100%;
  max-height: 70px;
  max-width: 70px;
}

.advantages__card-tittle{
  margin-bottom: 13px;
  font-size: 23px;
}


//partners

.partners__content{
  margin-bottom: 24px;
}

.partners__card{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 27px;
  margin-bottom: 24px;
  min-height: 95px;
  cursor: pointer;
}

.partners__card-img{
  width: 100%;
  max-width: 100%;
}


//contact

.contact-col{
  @media all and (max-width: 768px){
    display: flex;
    justify-content: center;
  }
}

.map{
  background: url("../img/map.webp") center no-repeat;
  background-size: cover;
  padding: 133px 0 147px 0;
}

.contact-card__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(52, 59, 76, 0.94);
  border-radius: 4px;
  max-width: 338px;
  padding: 45px;
}

.contact-card__city{
  display: flex;
  margin-bottom: 14px;
}


.card__city-span{
  font-family:$light;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
  margin-left: 10px;
}

//popup


.popup{
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  top: 0;
  left: 0;
  background:rgba(255,255,255,0.25);
  display: flex;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.popup__wrapper{
  display: flex;
  justify-content: center;
  background-color: #313538;
  border-radius: 4px;
  flex-direction: column;
  padding: 55px 30px;
  max-width: 500px;
  width: 100%;
  margin:  0 auto;
}

.popup-content__item{
  display: flex;
  justify-content: center;
  font-family: $light;
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
  text-align: center;
}

.popup-content__link{
  color: #FC8E20;
  &:hover{
   color: #FC8E20;
  }
}

.form-popup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-phone{
  width: 250px;
  height: 35px;
  border-radius: 15px;
  padding-left: 15px;
}

.form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  border-radius: 15px;
  background: #FC8E20;
  color: #FFFFFF;
  &:focus,
  &:hover{
     outline: none;
  }
}

.popup-active{
  visibility: visible;
  opacity: 1;
}

//footer

footer{
  @media all and (max-width: 500px){
   padding: 25px 0;
  }
}

.footer__inner{
  @media all and (max-width: 500px){
    flex-direction: column;
  }
}

.footer__content{
  display: flex;
  flex: 0 0 60%;
  font-family: $light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.427179px;
  color: #262626;
}